<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NFT´S Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-col size="0.5">
    <ion-searchbar (ionChange)="search($event)" placeholder="Search" class="search" clear-icon="trash-bin"></ion-searchbar>
  </ion-col>

  <!-- filtro -->
  <ion-item class="ion-item-narrow">
    <ion-select label="Filter:"  (ionChange)="filterNfts($event)">
      <ion-select-option value="ethereum">Ethereum</ion-select-option>
      <ion-select-option value="polygon-pos">Polygon-pos</ion-select-option>
      <ion-select-option value="optimistic-ethereum">Optimistic-Ethereum</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list [inset]="true">
    <ion-card *ngFor="let nft of (showFilter ? arrayFilterNfts : arrayNfts)">
      <ion-card-header>
        <ion-card-title>{{nft.name}}</ion-card-title>
        <ion-card-subtitle>{{nft.asset_platform_id}}</ion-card-subtitle>
      </ion-card-header>
        
      <ion-card-content>
        {{nft.symbol}}
      </ion-card-content>
      <ion-card-content>
        <ion-button fill="outline" color="success" (click)="nftDetail(nft.id)">VIEW DETAILS</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
  
</ion-content>

